
  <div class="jumbotron">
    <h1>Customers</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h3>ID</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h3>Name</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h3>Order ID</h3>
      </div>
    </div>
  <% Customer.all.each do |c| %>
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <table class="table table-bordered table-striped table-hover">
          <td class="text-center"><%=c.id%></td>
        </table>
        <table class="table table-bordered table-striped table-hover">
        <td class="text-center"><%=c.name%></td>
        </table>
        <table class="table table-bordered table-striped table-hover">
        <td class="text-center"><%=c.orders.first.id%></td>
        </table>

      </div>
  </div>
  <%end%>

  <!--Button Tutorial -->
  <div class="jumbotron"> <!--Enlarges fonts and puts everything in a grey box -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus malesuada nunc, nec vestibulum elit
      tristique sit amet. Phasellus varius suscipit ipsum nec pretium. Donec laoreet velit elit. Nulla luctus, sem ac
      gravida placerat, sapien ex hendrerit erat, a tincidunt sem ipsum quis sem. Maecenas quis pharetra massa. Aliquam
      erat volutpat. Duis pharetra iaculis imperdiet. Integer eget felis ut sapien facilisis rutrum egestas eget purus.
      Nam facilisis nec diam non bibendum. Nunc sed mattis odio. Curabitur consectetur, orci in facilisis ullamcorper,
      ipsum ex scelerisque tellus, ac pellentesque ligula ante sed tortor.</p>
    <a href="http://wired.com" class="btn btn-default btn-lg" role="button">Procrastinate</a>
    <button type="submit" class="btn btn-danger" role="button">Button</button>
    <input type="button" value="Info" class="btn btn-info btn-lg">
    <div class="btn-group btn-group-lg" role="group">
      <button type="button" class="btn btn-default">Small</button>
      <button type="button" class="btn btn-default">Medium</button>
      <button type="button" class="btn btn-default">Large</button>
    </div>
  </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>










<h1>Customers</h1>


<table>
  <tr>
    <td>
      <b>
        ID
      </b>
    </td>
    <td>
      <b>
        Name
      </b>
    </td>
    <td>
      <b>
        Order ID
      </b>
    </td>
  </tr>
  <% Customer.all.each do |c| %>
      <tr>
        <td>
          <%= c.id %>
        </td>
        <td>
          <%= c.name %>
        </td>
        <td>
          <%= c.orders.first.id %>
        </td>
      </tr>
  <% end %>
</table>