<div class="jumbotron">
  <h1>Products</h1>
</div>

<div class="container">
  <div class="row">
    <table class="table table-bordered table striped table-hover">
      <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          ID
        </th>
        <th>
          SKU
        </th>
        <th>
          Price
        </th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |p| %>
          <tr>
            <td>
              <%= p.id %>
            </td>
            <td>
              <a href="product/<%= p.id %>"><%= p.name %></a>
            </td>
            <td>
              <%= p.sku %>
            </td>
            <td>
              <%= p.price %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <button class="btn btn-default" onclick="location='/shop/product?nextpage=<%= @next%>'" >Next</button>
    <button class="btn btn-default" onclick="location='/shop/product?previouspage=<%= @previous %>'">Previous</button>
    <button type="button" onclick="location='/shop/product/new'" class="btn btn-default">Create</button>
  </div>
</div>