<h1>Product <%= @id %></h1>
<% product_hash = Product.find(@id) %>
<h2>Name <%= product_hash.name %></h2> 
<h2>ID <%=product_hash.id %></h2> 
<h2>SKU <%=product_hash.sku %></h2> 
<h2>Price <%=product_hash.price %></h2> 



<

